















<section id="peliculas" class="bg-one section">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <!-- section title -->
                <div class="title text-center wow fadeIn" data-wow-duration="500ms">
                    <h2>Peliculas <span style="text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; color:white;">MARVEL</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div>

            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img src="~/Content/images/capitanamerica.jpg" style="width:80%" />
                    </div>
                    <h3>Capitán América: El primer Vengador</h3>
                    <p>
                        Tras tres meses de someterse a un programa de entrenamiento físico y táctico, Steve Rogers es encomendado su primera misión como Capitán América. Armado con un escudo indestructible, emprenderá la guerra contra el Mal como líder de los Vengadores
                    </p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img src="~/Content/images/capitanamarvel.jpg" style="width:78%" />
                    </div>
                    <h3>Capitana Marvel</h3>
                    <p>
                        La guerrera Vers no recuerda su pasado, el cual vuelve a ella en sueños. A pesar de sus problemas para controlar sus emociones y, con ellas, sus poderes, la Inteligencia Suprema le permite participar en una misión.
                    </p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img src="~/Content/images/ironman.jpg" style="width:92%" />
                    </div>
                    <h3>Iron Man</h3>
                    <p>
                        Tony Stark es un inventor de armamento brillante que es secuestrado en el extranjero. Sus captores son unos terroristas que le obligan a construir una máquina destructiva pero Tony se construirá una armadura para poder enfrentarse a ellos y escapar
                    </p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="200ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img src="~/Content/images/hulk.jpg" style="width:80%" />
                    </div>
                    <h3>The Incredible Hulk</h3>
                    <p>
                        Bruce Banner recorre el mundo en busca de un antídoto para librarse de su alter ego. Además tendrá que hacer frente a Emil, un nuevo enemigo, lo que convertirá a Nueva York en el escenario de la última batalla entre las dos criaturas más poderosas.
                    </p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="400ms">
                <div class="service-block text-center">
                    <div class="service-icon text-center">
                        <img src="~/Content/images/thor.jpg" style="width:86%" />
                    </div>
                    <h3>Thor</h3>
                    <p>
                        Tras desatar una antigua guerra, el codicioso guerrero Thor es desterrado a la Tierra por su padre para que viva entre los hombres y descubra así el verdadero sentido de la humildad.
                    </p>
                </div>
            </article>
            <!-- End Single Service Item -->
            <!-- Single Service Item -->
            <article class="col-lg-4 col-md-6 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="600ms">
                <div class="service-block text-center kill-margin-bottom">
                    <div class="service-icon text-center">
                        <img src="~/Content/images/guardianes.jpg" style="width:80%" />
                    </div>
                    <h3>Guardianes de la Galaxia</h3>
                    <p>
                        El temerario aventurero Peter Quill, tras robar una misteriosa esfera codiciada por Ronan, un poderoso villano cuyas ambiciones amenazan a todo el universo, se convierte en la presa más codiciada por todos los cazarrecompensas de la galaxia.
                    </p>
                </div>
            </article>
            <!-- End Single Service Item -->

        </div> <!-- End row -->
        <div class="row">
            <div class="col-lg-12 col-md-6" style="text-align:center">
                <a href="https://localhost:44353/peliculasMvc" ; class="btn btn-transparent smooth-scroll;" style="border-width: 2px; font-size: 20px; border-color: aqua; position:center">Ir a Peliculas</a>
            </div>
        </div>
    </div> <!-- End container -->
</section> <!-- End section -->
<!-- Start Team Skills
        =========================================== -->
<!-- Start Portfolio Section
=========================================== -->

<section class="parallax-section section section-bg overly" id="Actores">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Protagonistas <span style="text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; color:white;">MARVEL</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <!-- testimonial wrapper -->
                    <div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

                        <!-- testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Chris.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Christopher Robert Evans</h3>
                                    <span>Capitán América</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        "Aguantaría todo el día."
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <!-- /testimonial single -->
                        <!-- testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Brie.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Brianne Sidonie Desaulniers</h3>
                                    <span>Capitana Marvel</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        "Tienes razón. Soy solo humana."
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <!-- /testimonial single -->
                        <!-- testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Jr.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Robert John Downey Jr.</h3>
                                    <span>Iron Man</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        "La armadura y yo, somos unos."
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Norton.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Edward Harrison Norton</h3>
                                    <span>Hulk</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        "¡Hulk aplasta!"
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <!-- /testimonial single -->
                        <!-- /testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Chris2.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Christopher Hemsworth</h3>
                                    <span>Thor</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        "Yo soy Thor, hijo de Odín y mientras haya vida en mi pecho… No se me ocurre más nada que decir. ¿Estás listo para morir?"
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <!-- /testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Pratt.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Christopher Michael Pratt</h3>
                                    <span>Star lord</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        "No debiste haber matado a mi madre y aplastado mi walkman."
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <!-- /testimonial single -->


                    </div> <!-- end testimonial wrapper -->
                </div> <!-- end col lg 12 -->
            </div> <!-- End row -->


        </div> <!-- end container -->
        <div class="row">
            <div class="col-lg-12 col-md-6" style="text-align:center">
                <a href="https://localhost:44353/actoresMvc" ; class="btn btn-transparent smooth-scroll;" style="border-width: 2px; font-size: 20px; border-color: aqua; position:center">Ir a Actores</a>
            </div>
        </div>
</section> <!-- End section -->

<section class="portfolio section" id="Directores">
    <div class="container">
        <div class="row ">
            <div class="col-lg-12">
                <!-- section title -->
                <div class="title text-center">
                    <h2>Directores <span style="text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; color:white;">MARVEL</span></h2>
                    <div class="border"></div>
                </div>
                <!-- /section title -->
            </div> <!-- /end col-lg-12 -->
        </div> <!-- end row -->

        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-6">
                    <!-- testimonial wrapper -->
                    <div id="testimonials" class="wow fadeInUp" data-wow-duration="500ms" data-wow-delay="100ms">

                        <!-- testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Jon.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Jon Favreau</h3>
                                    <span>Resumen</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        Jonathan Kolia «Jon» Favreau (Nueva York, 19 de octubre de 1966) es un director, actor, guionista y productor de cine estadounidense.
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <hr />
                        <!-- /testimonial single -->
                        <!-- testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Louis.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Louis Leterrier </h3>
                                    <span>Resumen</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        Louis Leterrier (París, 17 de junio de 1973) es un director de cine francés, conocido por películas de acción como las dos primeras películas de la saga del Transporter, la película de superhéroes The Incredible Hulk, Furia de titanes, Now You See Me, Fast X, entre otras.
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <hr />
                        <!-- /testimonial single -->
                        <!-- testimonial single -->
                        <div class="item text-center">

                            <!-- client photo -->
                            <div class="client-thumb">
                                <img src="~/Content/images/Kenneth.jpg" class="img-fluid" alt="Meghna">
                            </div>
                            <!-- /client photo -->
                            <!-- client info -->
                            <div class="client-info">
                                <div class="client-meta">
                                    <h3>Kenneth Charles Branagh </h3>
                                    <span>Resumen</span>
                                </div>
                                <div class="client-comment">
                                    <p>
                                        Kenneth Charles Branagh /ˈkɛnɪθ tʃɑːlz ˈbrænə/ (Belfast, Irlanda del Norte, Reino Unido, 10 de diciembre de 1960) es un director, guionista y actor cinematográfico y teatral británico. Es muy reconocido por haber dirigido y actuado en muchas adaptaciones de obras clásicas shakesperianas en el cine, de las cuales sobresalen Enrique V (1989; por la cual fue nominado al Óscar como mejor director y mejor actor), Otelo (1995) y Hamlet (1996; por la cual fue nominado al Óscar al mejor guion adaptado), en muchas de las cuales colaboró con su exesposa, la actriz Emma Thompson.
                                    </p>
                                </div>
                            </div>
                            <!-- /client info -->
                        </div>
                        <hr />
                        <!-- /testimonial single -->

                    </div> <!-- end testimonial wrapper -->
                </div> <!-- end col lg 12 -->
            </div> <!-- End row -->
            <div class="row">
                <div class="col-lg-12 col-md-6" style="text-align:center">
                    <a href="https://localhost:44353/directoresMvc" ; class="btn btn-transparent smooth-scroll;" style="border-width: 2px; font-size: 20px; border-color: aqua; position:center">Ir a Directores</a>
                </div>
            </div>

        </div> <!-- end container -->
</section> <!-- End section -->

<section id="Recaudacion" class="parallax-section section section-bg overly">
    <div class="container">
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="title text-center">
                    <h2>Recaudación <span style="text-shadow: 0 0 0.2em #F87, 0 0 0.2em #F87; color:white;">MARVEL</span></h2>
                    <div class="border"></div>
                </div>
            </div>
            <!-- /section title -->
        </div> <!-- End row -->
        <div class="row">
            <div class="col-md-6">
                <h2>
                    Diversión y economía <br>
                    Pueden ir de la mano
                </h2>
                <p style="font-size: 12px">
                    No hay duda de que Disney es la compañía más exitosa en cuanto a recaudación en taquilla alrededor del mundo, cosechando cifras de auténtico récord con sus diferentes franquicias, con una temática concreta como absoluta punta de lanza: los superhéroes de Marvel. Tanto es así, que en 2021, en plena época de pandemia global, las películas de Marvel lograron amasar nada más y nada menos que el 30% de la taquilla total en cines estadounidenses, contando Marvel Studios y el Spiderverse de Sony.
                </p>
                <img class="img-fluid" src="~/Content/images/economia.png" alt="">
            </div>
            <div class="col-md-6 mt-4 mt-md-0">
                <ul class="skill-bar">
                    <li>
                        <p><span>01-</span> Capitana Marvel</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                 style="width:100%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>02-</span> Guardianes de la Galaxia</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                 style="width:90%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>03-</span> Iron Man</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                 style="width:80%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>04-</span> Thor</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                 style="width:70%">
                            </div>
                        </div>
                    </li>
                    <li>
                        <p><span>05-</span> Capitán América</p>
                        <div class="progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                                 style="width:65%">
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        
    </div> <!-- End container -->
</section> <!-- End section -->
<!-- Start Testimonial
=========================================== -->
<!-- Start Blog Section
=========================================== -->
